MiddleTier/src/main/java/daniel/biniek/Product/ProductService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://Product.biniek.daniel/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Product.biniek.daniel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Product.biniek.daniel/" schemaLocation="ProductService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getProducts"/>
  <message name="getProductsResponse">
    <part name="return" type="tns:productObArray"/>
  </message>
  <message name="JMSException">
    <part name="fault" element="tns:JMSException"/>
  </message>
  <message name="createOrder">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="createOrderResponse"/>
  <portType name="ProductService">
    <operation name="getProducts">
      <input ns1:Action="http://Product.biniek.daniel/ProductService/getProductsRequest" message="tns:getProducts" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://Product.biniek.daniel/ProductService/getProductsResponse" message="tns:getProductsResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:JMSException" name="JMSException" ns3:Action="http://Product.biniek.daniel/ProductService/getProducts/Fault/JMSException" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="createOrder" parameterOrder="arg0 arg1">
      <input ns4:Action="http://Product.biniek.daniel/ProductService/createOrderRequest" message="tns:createOrder" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns5:Action="http://Product.biniek.daniel/ProductService/createOrderResponse" message="tns:createOrderResponse" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

