MiddleTier/src/main/java/daniel/biniek/Product/ProductService_schema3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://jaxb.dev.java.net/array">

  <xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="ProductService_schema1.xsd"/>

  <xs:element name="arg0" nillable="true" type="xs:string"/>

  <xs:element name="arg1" nillable="true" type="xs:string"/>

  <xs:element name="arg2" nillable="true" type="xs:string"/>

  <xs:element name="return" nillable="true" type="ns1:stringArray"/>
</xs:schema>

